<p id="notice"><%= notice %></p>

<h1>Assitances</h1>

<table>
  <thead>
    <tr>
      <th>Assitance present</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assitances.each do |assitance| %>
      <tr>
        <td><%= assitance.assitance_present %></td>
        <td><%= assitance.student %></td>
        <td><%= link_to 'Show', assitance %></td>
        <td><%= link_to 'Edit', edit_assitance_path(assitance) %></td>
        <td><%= link_to 'Destroy', assitance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assitance', new_assitance_path %>
